:root {
    --color1: #11ABC1;
    --color2: #DF3062;
    --color3: #F5B935;
    --color5: #FFFFFF;
}

body {
    background-color: var(--color1);
    text-align: center;
    color: var(--color5);
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-bottom: 2px solid var(--color3);
}

.form-container {
    margin: 0 auto;

}

section {
    text-align: left;
    width: 800px;
}

.userInp {
    margin: 1rem;
}

h1 {
    margin-top: 2em;
    color: var(--color3)
}

.angle {
    padding: 0.8rem;
}

.allBtn {
    padding: 1rem;
    background-color: var(--color3);
    width: 190px;
    color: var(--color2);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

#showOutput,
#quizOutput {
    margin-top: 1.5rem;
}

/* Quiz Page styles */

p {
    font-size: 1.5rem;

}

.question {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    font-size: 1.5rem;
}

#btn-submitQuiz {
    margin-top: 3rem;
    padding: 0.8rem;
    width: 150px;
}

/* area page styles */
.area {
    margin-bottom: 1.5rem;
}

.userInp>label,
.area>label {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.area>input {
    width: 300px;
}

/* nav bar styles */

nav {
    background-color: var(--color3);
    color: var(--color4);
}


ul {
    display: flex;
    justify-content: right;
    list-style: none;
    margin: 0;
}

li {
    margin: 0.5rem;
}

li>a {
    display: block;
    margin: 0 auto;
    padding: 0.7rem;
    text-decoration: none;
    width: 90px;
    font-size: 1.1rem;
    font-weight: bold;
}

a:link,
a:visited {
    color: var(--color2);
}

a:hover {
    color: var(--color5);
    font-weight: bold;
}